:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --transition-duration: 0.4s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--very-dark-blue-main-BG);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 350px;
  height: auto;
  padding: 25px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue-card-BG);
}

div.card > a:first-child {
  font-size: 0px;
}

div.card p {
  color: var(--soft-blue);
}

div.card div.cube img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  opacity: 1;
  transition: opacity var(--transition-duration) ease-out;
}

div.card div.cube:hover img {
  opacity: 0.3;
}

div.card div.info h1 a {
  color: var(--white);
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 18px;
  margin-bottom: 5px;
  transition: color var(--transition-duration) ease-out;
}

div.card div.info h1 a:hover {
  color: var(--cyan);
}

div.card h2 {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--cyan);
  letter-spacing: 1px;
}

div.card div.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding-bottom: 5px;
  padding-top: 7px;
}

div.card div.info p {
  line-height: 1.4rem;
}

div.card div.info h1 {
  align-self: baseline;
}

div.card div.amount-date {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 15px;
}

div.card div.amount {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 7px;
}

div.card div.date {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

div.card div.date,
div.card div.artist {
  font-size: 0.9rem;
}

div.card div.artist {
  align-self: stretch;
  border-top: 1px solid var(--very-dark-blue-line);
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding-bottom: 10px;
}

div.card div.artist img {
  border-radius: 50%;
  border: 1px solid white;
  width: 11%;
  height: auto;
}

div.card div.artist span {
  color: var(--white);
  transition: color var(--transition-duration) ease-out;
}

div.card div.artist span:hover {
  color: var(--cyan);
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

div.cube {
  position: relative;
}

div.cube div.overlay-color {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: var(--cyan);
  border-radius: 10px;
  opacity: 0;
  transition: all var(--transition-duration) ease-out;
}

div.cube div.overlay-icon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0;
  background-image: url(./images/icon-view.svg);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  transition: all var(--transition-duration) ease-out;
}

div.cube:hover div.overlay-color {
  opacity: 0.8;
}

div.cube:hover div.overlay-icon {
  opacity: 1;
}
